/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/*Font import*/
:root{
    --redDeamed:#ff0051;
    --lightGray:#f6f6f7;
    --white :#ffffff;
    --heroBg:#f0efed;
    --heroImgBg:#fee7e2;
    --textBlack:#2b2722;
    --textBlackDeam:#bfcaca;
    --orange:#ff3d00;
    --green:#099944;


}
*{
    margin: 0;
    padding: 0;
    outline: .5px solid blue;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
a{
    text-decoration: none;
    color: var(--textBlack);
}
.home{
    width: 100%;
    height: 100%;
 
  
}
.home .topInfo{
    width: 100%;

    position: relative;

    height: 2.5rem;
    line-height: 2.5rem;
    background-color: var(--redDeamed);
text-align: center;
}
.home .topInfo p{
font-size: .9rem;
font-weight: bold;
vertical-align: middle;
color: var(--lightGray);<img class="imgfeatured"  src="/assets/img/kairetusapparel-20211109-0009.jpg" alt="">
}
.home .topInfo p a{
    color: var(--white);
}
.home .topInfo p span{
font-weight: bolder;
font-size: .93rem;
color: var(--white);

}
.home .topInfo .close img{
    width: 1rem;
top: 0;
right: 1rem;
margin-right: .3rem;
vertical-align: middle;
}
.home .topInfo .close{
position: absolute;
top: 0;
right: 1rem;
vertical-align: middle;

}
.home
.topAccesibility{
    display: flex;
    justify-content: space-between;
    align-items: center;
font-size: .9rem;
color: var(--textBlack);

    height: 2.5rem;
    background-color: var(--lightGray);
}.home

.topAccesibilityContacts {
width: 20%;

}
.topAccesibilityContacts a{
    color: var(--textBlack);

}
.topAccesibilityContacts a img{
width: 1rem;
margin-left: 1rem;
margin-right: .1rem;
}


.home
.topAccesibilityOffer{}
.topAccesibilityOffer p span{
    color: var(--redDeamed);
    font-weight: bold;
}
.home

.topAccesibilitySettings{
width: 20%;

text-align: right;
}.topAccesibilitySettings a{
    margin-right: 1rem;
    color: var(--textBlack);

}

.topAccesibilitySettings a img{
    height: 1rem;
    margin-left: 1rem;
 margin-right: .1rem;   
    }
    

.navbar{
    display: flex;
    justify-content: space-between;
    height: 4rem;position: relative;
    align-items: center;
    width: 100%;

    background-color: var(--white);
color: var(--textBlack);
}
.navbar .logotext{
    margin-left: 1rem;
    font-size: 2rem;
    width: 20%;


}
.navbar .navLinks{
position: absolute;
width: 100%;
    text-align: center;
}
.navbar .navLinks a{
    margin: 0 .65rem;
}
.navbar .navIcons{

    
}
.navbar .navIcons img{
    width: 1.5rem;
    
    margin-right: 1rem;
 margin-right: 1rem;  
}

.hero{
   
    height: 80vh;
    width: 100%;

    background-color: var(--heroBg);
}

.hero .contain{
    height: 100%;
overflow: hidden;

    display: flex;
    margin: auto;

    align-items: center;
width: 80%;
}
.hero .contain .left{
    width: 50%;

}
.hero .contain .left .summerText{
font-size: 1.3rem;
text-transform: uppercase;
font-weight: bold;
}
.hero .contain .left .mainText{
    
font-size: 3rem;
font-weight: bold;
margin-bottom: 1.5rem;
}
.hero .contain .left a{
padding: .8rem 1.8rem;
color: var(--white);
background-color: var(--textBlack);
}
.hero .contain .right{
    height: 100%;
    width: 50%;
background: url(/assets/img/bgcircle.svg);
background-position: bottom;
background-repeat: no-repeat;
background-size: 30rem;
position: relative;
}
.hero .contain .right img{
position: absolute;
object-fit: contain;
margin-top: 4rem;

}
.hero .heroSlider{
    display: flex;
    position: absolute;
    height: 2rem;
    bottom: .5rem;
    width: 80%;

align-items: center;
justify-content: center;

}
.hero .heroSlider .dot{
    width: 1rem;

margin: 0 .25rem ;
border-radius: 50%;
align-self: center;
    height: 1rem;
    background-color: var(--textBlackDeam);
}
.hero .heroSlider .dot:hover{
    background-color: var(--textBlack);
}

.featured{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px; 
    height: 80vh;
    
    width: 80%;
    margin:5rem auto;
}
.imgfeatured{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgOne{
    background-color: blue;
grid-area: 1 / 1 / 5/ 3;
position: relative;
}
.imgTwo{
grid-area: 1 / 3 / 3 / 4;
background-color: yellow;
position: relative;

}
.imgThree{
    background-color: pink;
    grid-area: 3 / 3 / 5 / 4;
    position: relative;

}
.imgFour{
    background-color: #099944;
    grid-area: 1 / 4 / 5 / 4;
    position: relative;

}
.fc{
    
}

.featuredcategory{
    bottom: 0;
    align-self: center;
    background-color: var(--white);
    margin-bottom: 1rem;
font-weight: bold;
    position: absolute;
    min-height: 2.5rem;
text-align: center;
margin: 0 auto;
padding: .9rem 3.5rem;

}

section{
    width: 80%;
    margin: auto;
    height: 100%;
}

.trending{
margin-bottom: 5rem;
display: flex;
justify-content: center;
flex-direction: column;
position: relative;
}
 .sectionTitle{
text-align: center;
width: fit-content;
font-size: 1.6rem;

font-weight: 700;
margin: auto;
    
}
.sectionTitle::before{
    display: inline-block;
    content: "";
    width: 3rem;
    margin-right: 1rem;
    left: 0;
    background-color: var(--textBlack);

    height: .2rem;
}
.sectionTitle::after{
    display: inline-block;
    content: "";
    width: 3rem;
    margin-left: 1rem;
    left: 0;
    background-color: var(--textBlack);

    height: .2rem;
}
 .titleText{
    text-align: center;
    font-style: italic;
    color: var(--textBlack);
font-family: serif !important;
}
.trending
.trendingItems{
display: flex;
flex-wrap: wrap;

justify-content: space-between;}

.trending
.trendingItems .card{
    width:19rem;

    height: 25rem;
    margin-top: 2rem;
    
}
.card{
    margin:1.5rem auto;
}
.card img{
min-height: 80%;
width: 100%;
}
.card h3{
    font-weight: bold;
    font-size: .95rem;
}
.card p{
    font-size: 1rem;
    


}
.trending .loadMoreTrending{
    text-align: center;
    position: absolute;
    padding: 1rem 2rem;

bottom: -5rem;
    align-self: center;
    border: 2px solid var(--textBlack);
    border-radius: 50px;
}
.trendingSale{
    padding-top: 5rem;
    display: flex;
    margin: 4rem auto;
    justify-content: space-between;
    align-items: center;

    gap :1rem;
}
.trendingSale .side{
    background: url(/assets/img/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
    min-height: 20rem;
justify-content: center;
    color: var(--white);
}
.trendingSale .side .lookbook{
font-size: 1.9rem;
}
.trendingSale .side h1{
font-size: 2.5rem;

}
.trendingSale .side p{
    font-size: 1rem;
    font-weight: bold;
}
footer{
    height: 20vh;
}

.blogg{
    width: 80%;
    margin-bottom: 4rem;

}
.blogg .blogs{
    display: flex;
    justify-content: space-between;
}
.blogg .blogs .blog{
    margin-top: 2rem;
    height: 100%;
    width: 30%;

}
.blogg .blogs .blog img{
height: 18rem;
    width: 100%;
    object-fit: cover;
}

.blogg .blogs .blog .blogTitle{
font-weight: bold;
}
.blogg .blogs .blog .author{
font-size: .8rem;
margin: .3rem 0;
}
.blogg .blogs .blog .author span{

    font-weight: bold;
}
.blogg .blogs .blog p

{
margin: .3rem 0;

font-size: .9rem;

}

.instagramPost{
    width: 100%;
height: 100%;
    justify-content: center;

    display: flex;
}
.instagramPost .img{
    overflow: hidden;
    position: relative;

    height: 100%;



}
.instagramPost .img img{
    object-fit: cover;
width: 100%;}
.instagramPost .img img:hover{

    
}
.services{
    margin: 1rem auto;

width: 80%;
height: 100%;
display: flex;


}
.services .service{
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
    height: 7rem;
    
    width: 100%;

display: flex;

}
.services .service .serviceIcon{
    width: 2rem;
margin-right: 1.5rem;
}
.services .service .serviceTitle{
    font-weight: bold;
}
.services .service .serviceP{
font-size: .9rem;
}
.footerLinks{
    background-color: var(--lightGray);
    height: 100%;
    
}